<ion-view title="{{title}}" >
  <div class="bar item-input-inset">
    <label class="item-input-wrapper">
    <i class="icon ion-location placeholder-icon"></i>
    <input class="brands-background" type="search" ng-model="add" placeholder="add"></input>
    </label>
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input class="brands-background" type="search" ng-model="query" placeholder="Search">
    </label>
    <button class="button button-dark" ng-click="address(add,query)">search</button>
  </div>
  <ion-content class="has-header" ng-init="init()">
    <div collection-repeat="brand in brands| orderBy: '-likes'">
      <div class="list brands-list">
        <a class="item-thumbnail-left">
          <h2 class="color1"><strong><span class="highlight">#{{$index + 1}} </span>- {{brand.name}}</strong></h2>
          <h5 class="color1">Id: {{brand.id}}</h5>
          <h6 class="color1">Likes: {{brand.likes}}</h6>
          <h6 class="color1">Website: {{brand.website}}</h6>
          <h6 class="color1">Emails: {{brand.emails}}</h6>
          <h6 class="color1">Category: {{brand.category}}</h6>
          <a class="color1 highlight" ng-href="http://fb-fan.herokuapp.com/#/demo/{{brand.id}}"><p>http://fb-fan.herokuapp.com/#/demo/{{brand.id}}</p></a>
          <button class="button button-positive send" ng-click="send(brand)">{{brand.emails[0]}}</button>
          <hr>
        </a>

      </div>
    </div>
  </ion-content>
</ion-view>
