<div class="mobile-bdg">
  <div class="overlay">
    <h4 class="brand"> <strong>StartYourApp</strong>.org</h4>
    </br>
    </br>
    <h1 class="title"> Begin your App Journey.</h1>
    <p class="col col-2 tagline"><strong class="strong">Engage</strong> your customers in a more effective manner. </br>We help you create apps that engage your customers <strong class="strong">3-4 times</strong> more than Facebook and email marketing.</p>
    </br>
    </br>
    <button class="button button-royal profile-sign-up" ng-click="goNext()"> Contact Us for a Demo</button>
    </br>
    </br>
  </div>
</div>
