
<link href="css/style.css" rel="stylesheet">
<ion-view>
<div class="container">
  <div class="col col-10 window">
    <iframe class="frame" width="312" height="528" scrolling="yes" style="margin:10px;" ng-src="{{link}}"></iframe>
  </div>
  <div class="demo-text">
    <h1>Your {{about.name}} App</h1>
    <h4> An app can improve the way {{about.name}} engage your users </h4>
    <hr>
    <ul class="functions">
      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         <p class="function-text"><strong class="highlight">Communicate</strong> your brand, products and updates in a clean manner</p>
      </li>
      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         <p class="function-text"><strong class="highlight">Engage</strong> users directly through push notifications</p>
      </li>
      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         <p class="function-text"><strong class="highlight">Integrate</strong> your Facebook existing updates with your app</p>
      </li>
      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         <p class="function-text"><strong class="highlight">Track</strong> how engaged your users are through analytics</p>
      </li>
    </ul>
     <p class="function-text"><small>* This app is just a demo. Other changes could be made/added to your app</small></p>
   </br>
     <button class="button button-royal sign-up" ng-click='signup()'>
       Find out more information
     </button>
   </br>
 </br>
    <div class="card load-card">
  <div class="item item-text-wrap function-card">
    <p class="fact"> <i class="ion-information-circled royal"> </i> Facebook engages users only <strong>less than 3%</strong> of the time organically</p>
    <p class="fact"> Apps can engage customers <strong>5-7 times</strong> more with push notifications and mobile updates</p>
  </div>
</div>

  </div>
</div>
</ion-view>
