
<link href="css/style.css" rel="stylesheet">
<ion-view>
<div class="container">
  <div class="col col-10 window">
    <iframe class="frame" width="312" height="528" scrolling="yes" style="margin:10px;" ng-src="{{link}}"></iframe>

  </div>
  <div class="demo-text">
    <h1> Your App Demo </h1>
    <h4> An app can improve the way you engage your users </h4>
    <hr>
    <ul class="functions">
      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         <p class="function-text"><strong class="highlight">Communicating</strong> your brand, products and updates in a clean manner</p>
      </li>
      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         <p class="function-text"><strong class="highlight">Engaging</strong> users directly through push notifications</p>
      </li>
      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         <p class="function-text"><strong class="highlight">Integrating</strong> your Facebook existing updates with your app</p>
      </li>
      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         <p class="function-text"><strong class="highlight">Tracking</strong> how engaged your users are through analytics</p>
      </li>
    </ul>
     <p class="function-text"><small>* other changes could be made/added to your app</small></p>
  </br>
</br>
    <div class="card">
  <div class="item item-text-wrap function-card">
    <p>Find out more information at <span class="highlight">www.startyourapp.com</span> </p>
    <p>or Contact us at <span class="highlight">contact@startyourapp.com</span></p>
  </div>
</div>
  </div>
</div>
</ion-view>
