
<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Sign Up</h4>
      </div>
      <div class="modal-body-signup">
        <form name="registrationForm" novalidate>
          <div class="list">
            <label class="item item-input item-stacked-label">
              <span class="input-label">Name</span>
              <input type="text" name="name" ng-model="user.name">
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Email</span>
              <input type="email" name="email" ng-model="user.email">
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Message</span>
              <textarea name="message" ng-model="user.message"></textarea>
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Phone</span>
              <input type="tel" name="tel" ng-model="user.tel" minlength="8">
            </label>
          </div>
          <button class=" button button-royal royal" ng-click="send(user.name,user.email,user.message,user.tel)" class="btn btn-primary " data-dismiss="modal">
            Submit
          </button>
          <button class="button button-dark close" ng-click="close('Yes')" class="btn btn-primary " data-dismiss="modal">
            Close
          </button>
        </form>
      </div>

    </div>
  </div>
</div>
