

body{
  overflow-y: none;
  text-align: center;
  padding:0;


}
a:-webkit-any-link{
text-decoration:none !important;
}


.close{
  width:100%;
}
.demo-text{
  float:right;
  padding:50px 100px;

}
.frame{
  border: 1px solid black;
}
.window{
  padding-left: 25px;
  float:left;
}
.text{
  height:100%;
}

.test{
  overflow-x: scroll;
  width:100%;
}
.album{
  width:100%;
}
.icon1{
  color:#444;
  font-size: 20px;
  padding-right: 10px;
}
.icon2{
  color:#444;
  font-size:20px;
  padding-right: 10px;
  text-align: left;
}
.event-card{
  min-height:150px;
  text-decoration: none;
}
.post-card{
  padding: 0;
  text-decoration: none;
  height:120px;
  border-bottom:1px solid #444;
}
.menu-item{
  text-align: left;
  padding-left: 30px;
}

.post-item{
  text-align: left;
}
.post{
padding-top: 10px;
font-size:11px;
text-align:left;
padding-left:30px;
text-decoration: none;
}
.border{
  border-bottom: 1px solid black;
}

.post-picture{
  float:left;
  padding-right:5px;
  height:120px;
  width:150px;
}
.video-picture{
  float:left;
  padding-right:5px;
  height:120px;
  width:120px;
}

.event-cover{
  width:100%;
  height:150px;
}
.event{
  text-decoration: none;
  text-transform: none;
  text-align: left;
  padding-left: 20px;
}
.event-card{
  text-decoration: none;
  text-transform: none;
}
.event-icon{
  /**float:right;*/
  font-size: 15px;
}

.text .photo-p{
  text-align: left;
  font-size:12px;
  width: 100%;
  font-weight:300;
}
.album-p{
  width:300px;
  height:200px;
}

.text .photo-card{
padding:0;
min-height:500px;
position:absolute;
display:block;

}

.about-p{
  width:100%;
}

.src{
  width:100%;
  background-color: #444;

}
.color1{
  right:200px;
  font-size: 15px;
}
.color-p{
  font-size: 10px;
  text-align:left;
  padding-left: 120px;
}
.tab-item{
  text-align: left;
}

.about{
  text-align: left;
  padding-left:20px;
}
.video-p{
  width:100px;
}
.brandslist{
  text-align: left;
  padding-left:20px;
}
.item-checkbox{
  border:0;
  font-size: 10px;

}
.function-text{
  text-align: left;
  font-weight: 300;
  padding: 3px 5px;
}
.container p{
  color:grey !important;
}

.highlight{
  color:#4a87ee;
}
.container h1{
    color:#30302E;
}
.checkbox{
  font-size: 10px;
}
.function-card{
  font-size: 12px;
}
.spinner svg {
  width: 64px;
  height: 64px;
  stroke: #FFF;
  fill: #FFF;
}
.center{
  text-align:center !important;
}
.brands-background{
  top:0;
}
.item-input-inset{
  background-color: rgba(255, 0, 0, 0);
}
