

body{
  font-family: 'Cabin', sans-serif;
  overflow-y: scroll !important;
  text-align: center;
  padding:0;
  background-color:rgba(0, 0, 0, 0);

}

a:-webkit-any-link{
text-decoration:none !important;
}


.close{
  width:100%;
}
.demo-text{
  float:right;
  padding:50px 100px;

}
.frame{
  border: 1px solid black;
}
.window{
  padding-left: 25px;
  float:left;
}

.test{
  overflow-x: scroll;
  width:100%;
}

.album-p{
  width:400px;
  height:200px;
}

.icon1{
  color:#444;
  font-size: 20px;
  padding-right: 10px;
  background: none !important;
}
.icon2{
  color:#444;
  font-size:12px;
  padding-right: 10px;
  text-align: left;
}
.photo-card .card {
  border:0;
  margin:0;
  padding:0;
}
.photo-card .card .post{
  float:left;
  padding:10px;
}
.photo-card .text p {
  font-size:12px;
  line-height: 12px;
  padding: 5px;

}
.photo-card .text div {
  font-size:12px;
}

.post-card{
  padding: 0;
  text-decoration: none;
  height:120px;
  border-bottom:1px solid #444;
}



.test3 .my-bar .title{
  color:white !important;
  border:0;
}


.test3 .menu-content{
  background-color:rgba(255,255,255,0.05) !important;
  border:0;
}

.test3{
  background-image: url("http://i48.tinypic.com/14e8hdv.jpg");
  -webkit-filter: grayscale(50%);
}
.test3 .menu-content .menu-list{
  background:none !important;
  position: fixed;
  top:80px;
  left:30px;
  text-align: left;

}

.test3 .menu-content .menu-list ion-item{
  background: none !important;
  border:0;
  margin:0;
}

.menu-content .menu-list .menu-item{
  font-family: 'Cabin', sans-serif;
  background-:none !important;
  text-align:left;
  border:0;
  font-size: 15px;
  font-weight: 100;
  color:black;
}

.menu-content .menu-list .menu-item .icon1{
  color:black;

}
ion-item{
  background: none !important;


}
ion-header-bar .my-bar{
  height:900px;

}


.post-picture{
  float:left;
  height:100px;
  width:100px;
}
.card .post-item{
  padding:4px;
  margin:0;
}
.card .post-item .col-7{
  padding-left:15px;
  margin:0;
}
.post-item{
  text-align: left;
  padding:8px;

}
.menu-content .menu-list .post{
font-size:11px;
text-align:left;
padding-left:100px;
text-decoration: none;

}
.border{
  border-bottom: 1px solid black;
}



.event-cover{
  width:100%;
  height:150px;
}
.event{
  text-decoration: none;
  text-transform: none;
  text-align: left;
  font-family: 'Cabin', sans-serif;
  font-size: 10px;
  font-weight: 400;
  padding-left: 50px;
}
.event-title{
  text-decoration: none;
  text-transform: none;
  text-align: left;
  font-family: 'Cabin', sans-serif !important;
  font-weight: 700 !important;
  font-size: 13px !important;
  padding-left: 50px;
  padding-top: 5px;

}
.event-card .card .small{
  float:left;
  padding-left: 10px;
}
.event-icon{
  color:#444;
  font-size:13px !important;
  padding-right:8px;
  position: fixed;
  left:280px;
  bottom:35px;
}

.event-date{
  font-family: 'Montserrat', sans-serif;
  font-size:15px !important;
  font-weight:400 !important;
  background-color: rgba(0,0,0,0.7);
  color:white;
  width:40px;
  height:100%;
  float:left;
    margin:0;
  padding:2px;
}
.event-card .card{
  text-decoration: none;
  text-transform: none;
  padding:2px 4px;
  margin: 0;
  back
}
.event-icon{
  font-size: 15px;
}

.text .photo-p{
  text-align: left;
  font-size:12px;
  font-weight: 200;
}


.about-p{
  width:100%;
}

.src{
  width:100%;
  background-color: #444;

}
.color1{
  right:200px;
  font-size: 15px;
}
.color-p{
  font-size: 10px;
  text-align:left;
  padding-left: 120px;
}
.tab-item{
  text-align: left;
}

.about{
  text-align: left;
  padding-left:20px;
}

.video-picture{
  float:left;
  height:100px;
  width:100px;

}
.video-icon{

}
.video-duration{
  padding:1px 35px;
  margin:0;
  position: fixed !important;
  background-color: rgba(0, 0, 0, 0.4);;
  font-size: 9px !important;
  font-weight: 700;
  color:white !important;
  left:16px;
  top:85px;
}

.video-item .menu-list{
  border-bottom: 1px solid black;
}
.video-item .menu-list .item-icon-left{
  margin:0;
  border:0;
  padding:2px 5px;
  text-align: left;

}


.video-title{
  padding-left: 20px;
  padding-top: 35px;
  font-size: 13px !important;
}
.video-icon{
  position: fixed;
  left:300px;
  bottom:35px;
}
.video-item .small{
  padding-left: 20px;
}


.brandslist{
  text-align: left;
  padding-left:20px;
}
.item-checkbox{
  border:0;
  font-size: 10px;

}
.function-text{
  text-align: left;
  font-weight: 300;
  padding: 3px 5px;
}
.container{
  overflow-y: scroll;
}
.container p{
  color:grey !important;
}

.highlight{
  color:#8a6de9;
}
.container h1{
    color:#30302E;
}
.checkbox{
  font-size: 10px;
}

.function-card{
  font-size: 12px;

}
.spinner svg {
  width: 64px;
  height: 64px;
  stroke: #FFF;
  fill: #FFF;
}
.center{
  text-align:center !important;
}
.brands-background{
  top:0;
  border: 0;
}
.item-input-inset{
  background-color: rgba(255, 0, 0, 0);
}
.list{
   -webkit-user-select: auto;
   border: 0;

}

.post-title{
  font-family: 'Cabin', sans-serif;
  font-weight:500;
  font-size: 13px;
  left: 30px;
}
.date-post{
  text-align: left;
}

.menu-content .my-bar{
  background:none !important;
}
.menu-content .mynavbar{
  background-color:#29223B !important;
}
.menu-content .mynavbar .ion-navicon{
  position: fixed;

}

.test3 .my-bar{
  height:110px !important;
  background: rgba(0,0,0,0.3) !important;
  border-bottom: 1px solid #444 !important;
}


.test3 .my-bar .bdg{
  position: fixed;
  left:107px;
  top:10px;
  width: 60px;
  height:60px;
  border-radius: 50%;
  border: 2px solid #29223B;
}
.test3 .my-bar .title{
  position: fixed;
  top:70px;
  margin:0;
  padding:0;
  font-weight: 200;
}
.fact{
  font-size: 12px;
}
.container .sign-up{
  padding:1px 200px;
}
.modal{
  border: 2px solid black;


}

.royal{
width:100%;
left:0;
right:0;
}


.fade{
  position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.89);
}

.modal-body-signup .list{
  float: left;
  text-align: left;
  background-color:white !important;
  width: 100%;
}


.modal .modal-content{
  position: fixed;
  top:10%;
  width: 100%;
  height:50%;
  background-color:white !important;
  padding: 0;

}
.functions{
  border: 0;
}

.send{
  float:right;
  position: fixed;
  right:100px;
  top:-100px;

}
.brands-list .item-thumbnail-left{
  text-align: left;
  padding-left: 30px;
}
.brands-list .item-thumbnail-left .color1{
  text-align: left;
  padding-left: 30px;
}

.brands-list .color1 p{
  text-align:left;
  padding-left: 30px;
}
.item-input-wrapper{
  width:1000px;
}
.mobile-bdg{
  font-family: 'Cabin', sans-serif;
  background: url(../css/mobile-bdg1.jpg) no-repeat center center fixed;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
  margin:0;
  position: fixed;
  top:0;

}

.mobile-bdg .brand{
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  text-align: left;
  padding-left: 50px;
  padding-top: 50px;
  color: #D9CEF0;
}
.mobile-bdg .title{
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  position: fixed;
  top:300px;
  padding-left: 50px;
  color:white;
}
.mobile-bdg .tagline{
  font-family: 'Cabin', sans-serif;
  text-align: left;
  position: fixed;
  top:400px;
  padding-left: 50px;
  color:#E3E3E3;
  font-size: 16px;
  line-height:28px;
}

.mobile-bdg {
  text-align: left;
  position: fixed;
  top:400px;
  padding-left: 50px;
  color:white;
}
.overlay{
  position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 10;
 background-color: rgba(52, 47, 61, 0.8); !important; /*dim the background*/
/* -webkit-filter: grayscale(80%);*/
}

.profile-sign-up{
  position: fixed;
  top:320px;
  left:50px;
}
.mobile-bdg .overlay .strong{
  color:#9B90C5;
}
.promo-src{
  width: 400px;
  height:200px;
}
.promo-p{
  text-align: left;
  padding-left:20px;
  font-size: 15px;
line-height: 20px;
}
